body {
    background-color: #9db5ce; /* Couleur de fond (modifie selon tes besoins) */
    background-image: url('../images/background.jpg'); /* Image de fond (remplace avec ton image) */
    background-size: cover;
    background-position: center;
}
