body {
  height: 100vh;
  background-color: #92b0d0; /* Couleur de fond */
  background-image: url('../images/background.jpg'); /* Image de fond */
  background-size: cover; /* Couvre tout l'écran */
  background-position: center; /* Centre l’image */
  background-repeat: no-repeat; /* Empêche la répétition */
  background-attachment: fixed;
}

form { margin: 0 auto; max-width: 400px; padding: 15px; background-color: beige; border-radius: 2px; }

.sidebar { height: 100vh; overflow-y: auto; }

.card{
  box-shadow: #000 0px 0px 10px;
}

h3{
  color: white;
}

.header-title { 
  text-align: center; 
  font-size: 2.5rem; 
  font-weight: 900; 
  color: #000; 
  letter-spacing: 2px; 
  padding: 15px 0; 
  text-transform: uppercase; 
}
.connexion { font-size: 1rem; font-weight: 600; padding: 5px; }
#connexionForm { display: none; } /* Masquer le formulaire au début */

/* Bouton "Plus d'informations" en marron clair */
.btn-lightbrown {
  background-color: #D2B48C; /* couleur marron clair */
  border-color: #D2B48C;
  color: #000; /* texte en noir */
}
.btn-lightbrown:hover {
  background-color: #c0a080;
  border-color: #c0a080;
}

/* Forcer le texte de la modale en noir */
.modal-content {
  color: #000;
}

/* gestion des images des cartes */

img.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
